<launch>

  <!-- Lanzar el servidor de Gazebo -->


  <!-- Spawn del modelo URDF en Gazebo -->
  <node type="rviz" name="rviz" pkg="rviz"/>


  <param name="robot_description" textfile="$(find horu_sim)/urdf/horu.urdf"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  

</launch>